<div class="container">    
    <div class="row">
        <div class="col-5">
            <places-form></places-form>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col">
                    <places-table></places-table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <places-map></places-map>
                </div>
            </div>
        </div> 
    </div>
</div>